<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>

    <style>

/* Hide the arrow icon for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


    </style>
</head>

<body>
    <div class="px-4 pt-8">

        <p class="text-xl font-medium">Address Details</p>
        <p class="text-gray-400">Select Address or Enter Address</p>

        <div class="flex gap-5">
            <div class="relative w-6/12">
                <label for="name" class="mt-4 mb-2 block text-sm font-medium">Name</label>
                <input type="text" id="name" name="name"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Your Name" />
            </div>
            <div class="relative w-6/12">
                <label for="phonenumber" class="mt-4 mb-2 block text-sm font-medium">Phone Number</label>
                <input type="number" id="phonenumber" name="phonenumber"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Phone Number" />
            </div>

        </div>

        <div class="flex gap-5">

            <div class="relative w-6/12">
                <label for="pincode" class="mt-4 mb-2 block text-sm font-medium">Pincode</label>
                <input type="number" id="pincode" name="pincode"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Your Name" />
            </div>
            <div class="relative w-6/12">
                <label for="phonenumber" class="mt-4 mb-2 block text-sm font-medium">Locality</label>
                <input type="number" id="phonenumber" name="phonenumber"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Phone Number" />
            </div>

        </div>

        <label for="card-holder" class="mt-4 mb-2 block text-sm font-medium">Card Holder</label>
        <div class="relative">
            <input type="text" id="card-holder" name="card-holder"
                class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm uppercase shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                placeholder="Your full name here" />
        </div>
        <label for="card-no" class="mt-4 mb-2 block text-sm font-medium">Card Details</label>
        <div class="flex">
            <div class="relative w-7/12 flex-shrink-0">
                <input type="text" id="card-no" name="card-no"
                    class="w-full rounded-md border border-gray-200 px-2 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="xxxx-xxxx-xxxx-xxxx" />
            </div>
            <input type="text" name="credit-expiry"
                class="w-full rounded-md border border-gray-200 px-2 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                placeholder="MM/YY" />
            <input type="text" name="credit-cvc"
                class="w-1/6 flex-shrink-0 rounded-md border border-gray-200 px-2 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                placeholder="CVC" />
        </div>
        <label for="billing-address" class="mt-4 mb-2 block text-sm font-medium">Billing Address</label>
        <div class="flex flex-col sm:flex-row">
            <div class="relative flex-shrink-0 sm:w-7/12">
                <input type="text" id="billing-address" name="billing-address"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Street Address" />
                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                    <img class="h-4 w-4 object-contain"
                        src="https://flagpack.xyz/_nuxt/4c829b6c0131de7162790d2f897a90fd.svg" alt="" />
                </div>
            </div>
            <select type="text" name="billing-state"
                class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500">
                <option value="State">State</option>
            </select>
            <input type="text" name="billing-zip"
                class="flex-shrink-0 rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none sm:w-1/6 focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                placeholder="ZIP" />
        </div>
        </form>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>