<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-[3800px] h-[6388px] relative bg-stone-400">
        <div class="w-[3798px] h-[1729px] left-0 top-[4667px] absolute bg-slate-800"></div>
        <div class="w-[3787px] h-[1729px] left-[3px] top-[4667px] absolute bg-zinc-700 border border-white"></div>
        <div class="w-[858.18px] h-[611.50px] left-[1301px] top-[5478px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[123px]">Privacy And Policy<br/>Refund Policy<br/>Shipping Policy<br/>Terms and Services<br/>Blogs<br/></div>
        <div class="w-[858.18px] h-[611.50px] left-[2112px] top-[5465px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[123px]">Accessories<br/>Laptop<br/>Headphones<br/>Smart Watches<br/>Camera<br/></div>
        <div class="w-[1299px] h-[140px] left-[1204px] top-[5074px] absolute bg-white rounded-[15px]"></div>
        <div class="w-[858.18px] h-[611.50px] left-[2727px] top-[5465px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[123px]">Search<br/>About Us<br/>FAQ<br/>Contact Us<br/>More About Us<br/></div>
        <div class="w-[858.18px] h-[611.50px] left-[443px] top-[5457px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[80px]">Otronmart<br/>No.001 ,<br/>Calicut , 670023,<br/>Kerala , India<br/><br/>+919889890023<br/><br/>otronmart@gmail.com</div>
        <div class="w-[3860.01px] h-[0px] left-[-70px] top-[5290px] absolute border-4 border-white border-opacity-10"></div>
        <div class="w-[3860.01px] h-[0px] left-[-101px] top-[6161px] absolute border-4 border-white border-opacity-10"></div>
        <div class="left-[1610px] top-[6243px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[80px]"> ©️ Copyright:Otronmart</div>
        <div class="left-[742px] top-[5101px] absolute text-white text-[40px] font-semibold font-['Inter'] leading-[80px]">Sign Up for newsletter</div>
        <div class="w-[383px] h-[140px] left-[2539px] top-[5074px] absolute bg-white rounded-[15px]"></div>
        <div class="w-[333px] h-[113px] left-[2589px] top-[5103px] absolute text-slate-800 text-[50px] font-bold font-['Inter'] leading-[80px]">SUBSCRIBE</div>
        <div class="w-[175px] h-[172px] left-[1296px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[65px] h-20 left-[1344px] top-[4808px] absolute"></div>
        <div class="w-[175px] h-[172px] left-[1510px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[69px] h-[76px] left-[1563px] top-[4810px] absolute"></div>
        <div class="w-[175px] h-[172px] left-[1724px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[74px] h-[75px] left-[1774px] top-[4810px] absolute"></div>
        <div class="w-[175px] h-[172px] left-[1938px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[175px] h-[172px] left-[2151px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[175px] h-[172px] left-[2364px] top-[4767px] absolute bg-zinc-300 bg-opacity-0 rounded-full border-4 border-white"></div>
        <div class="w-[71px] h-[78px] left-[1989px] top-[4811px] absolute"></div>
        <div class="w-20 h-24 left-[2199px] top-[4802px] absolute"></div>
        <div class="w-24 h-[92px] left-[2407px] top-[4807px] absolute"></div>
        <div class="w-[3798px] h-[438px] left-[604px] top-[2889px] absolute bg-gradient-to-b from-sky-200 to-stone-600"></div>
        <div class="w-[333px] h-[68px] left-[2748px] top-[195px] absolute text-white text-6xl font-normal font-['Inter']">PRODUCTS</div>
        <div class="w-[419px] h-[68px] left-[3116px] top-[195px] absolute text-white text-6xl font-normal font-['Inter']">MY ACCOUNT</div>
        <div class="w-[1313px] h-[168px] left-[1130px] top-[145px] absolute bg-white rounded-[15px]"></div>
        <div class="w-[100px] h-[100px] left-[2299px] top-[190px] absolute"></div>
        <div class="w-[839px] h-[111px] left-[1188px] top-[181px] absolute text-black text-opacity-40 text-[80px] font-normal font-['Inria Sans']">Search Products Here..</div>
        <div class="left-[191px] top-[591px] absolute text-white text-6xl font-semibold font-['Inter']">CATEGORIES</div>
        <div class="left-[766px] top-[589px] absolute text-white text-6xl font-semibold font-['Inter']">EVERYTHING</div>
        <div class="left-[1258px] top-[589px] absolute text-white text-6xl font-semibold font-['Inter']">NEW ARRIVALS</div>
        <div class="left-[1806px] top-[589px] absolute text-white text-6xl font-semibold font-['Inter']">TODAY’S DEAL</div>
        <div class="w-[75px] h-[88px] left-[582px] top-[588px] absolute"></div>
        <div class="w-[778px] h-[1163px] left-[2027px] top-[2068px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1163px] left-[2937px] top-[2068px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1141px] left-[1040px] top-[2090px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[445px] h-[117px] left-[1076px] top-[3039px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[1125px] top-[3067px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[2080px] top-[3039px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[2129px] top-[3067px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[2990px] top-[3039px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[3039px] top-[3067px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[125px] top-[3086px] absolute bg-gray-900 rounded-[50px]"></div>
        <div class="left-[174px] top-[3114px] absolute text-white text-[50px] font-extrabold font-['Inter']">ADD TO CART</div>
        <div class="w-[778px] h-[1141px] left-[77px] top-[2090px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1043px] left-[2027px] top-[3384px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1043px] left-[2937px] top-[3384px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1043px] left-[1040px] top-[3406px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[778px] h-[1043px] left-[77px] top-[3406px] absolute bg-white rounded-[30px] shadow"></div>
        <div class="w-[445px] h-[117px] left-[126px] top-[4241px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[175px] top-[4269px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[1065px] top-[4241px] absolute bg-slate-800 rounded-[50px]"></div>
        <div class="left-[1114px] top-[4269px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[2080px] top-[4226px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[2129px] top-[4254px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[445px] h-[117px] left-[2984px] top-[4226px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[3033px] top-[4254px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="left-[77px] top-[1913px] absolute text-white text-[100px] font-bold font-['Inria Sans']">Featured Collection</div>
        <img class="w-[671px] h-[766px] left-[114px] top-[2090px] absolute" src="https://via.placeholder.com/671x766" />
        <img class="w-[778px] h-[718px] left-[2937px] top-[2094px] absolute" src="https://via.placeholder.com/778x718" />
        <img class="w-[617px] h-[615px] left-[140px] top-[3405px] absolute" src="https://via.placeholder.com/617x615" />
        <img class="w-[708px] h-[769px] left-[2051px] top-[2068px] absolute" src="https://via.placeholder.com/708x769" />
        <img class="w-[713px] h-[594px] left-[1089px] top-[3422px] absolute" src="https://via.placeholder.com/713x594" />
        <img class="w-[746px] h-[644px] left-[2953px] top-[3384px] absolute" src="https://via.placeholder.com/746x644" />
        <img class="w-[705px] h-[553px] left-[2052px] top-[3435px] absolute" src="https://via.placeholder.com/705x553" />
        <img class="w-[727px] h-[795px] left-[1060px] top-[2094px] absolute" src="https://via.placeholder.com/727x795" />
        <div class="w-[770px] left-[2080px] top-[3988px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Milaneese Loop Watch<br/>Band For 42 mm/ 44mm..</div>
        <div class="w-[770px] left-[1080px] top-[3991px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Beoplay A1 portable <br/>Bluetooth speaker with.</div>
        <div class="w-[770px] left-[114px] top-[3991px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Apple AirPods Max 2020<br/>with Smart Case - blue..</div>
        <div class="w-[770px] left-[2970px] top-[3979px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Olympus Pen E-Pl9 kit<br/>with 14-42, EZ Lens,...</div>
        <div class="w-[770px] left-[2990px] top-[2795px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Samsung Galaxy Note 10+<br/>Mobile Phone ; sim..</div>
        <div class="w-[770px] left-[2080px] top-[2795px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Ony EXTRA BASS  Portable<br/>splash-proof...</div>
        <div class="w-[770px] left-[1061px] top-[2795px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Apple MacBook Air - Space Grey 15” </div>
        <div class="w-[770px] left-[125px] top-[2795px] absolute text-stone-900 text-opacity-90 text-[50px] font-semibold font-['Inter']">Honor T1 7.0  1 GB RAM 8<br/>GB ROM..</div>
        <div class="w-[445px] h-[117px] left-[125px] top-[3039px] absolute bg-zinc-700 rounded-[50px]"></div>
        <div class="left-[174px] top-[3067px] absolute text-white text-[50px] font-medium font-['Inter']">ADD TO CART</div>
        <div class="w-[396px] h-[77px] left-[125px] top-[2939px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[1076px] top-[2953px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[2080px] top-[2949px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[2990px] top-[2949px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[2977px] top-[4119px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[2092px] top-[4123px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[1088px] top-[4133px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="w-[396px] h-[77px] left-[174px] top-[4133px] absolute text-red-700 text-[50px] font-bold font-['Inter']">$750.59</div>
        <div class="pl-[99px] pr-px pt-9 pb-8 left-[20px] top-[133px] absolute justify-end items-start gap-[22px] inline-flex"></div>
        <div class="w-[86px] h-[75px] left-[1829px] top-[4534px] absolute bg-black"></div>
        <div class="w-[93px] h-[75px] left-[1918px] top-[4534px] absolute bg-zinc-300 bg-opacity-0"></div>
        <div class="w-[100px] h-[74px] left-[2011px] top-[4535px] absolute bg-zinc-300 bg-opacity-0"></div>
        <div class="left-[1863px] top-[4541px] absolute text-white text-[50px] font-semibold font-['Inter']">1</div>
        <div class="left-[1949px] top-[4541px] absolute text-black text-[50px] font-semibold font-['Inter']">2</div>
        <div class="left-[2044px] top-[4541px] absolute text-black text-[50px] font-semibold font-['Inter']">3</div>
        <div class="w-[183px] h-[68px] left-[2531px] top-[195px] absolute text-white text-6xl font-normal font-['Inter']">HOME</div>
        <div class="w-[183px] h-[68px] left-[3575px] top-[195px] absolute text-white text-6xl font-normal font-['Inter']">CART</div>
        <img class="w-[3798px] h-[1202px] left-0 top-[711px] absolute" src="https://via.placeholder.com/3798x1202" />
        <div class="w-[916px] h-[55px] left-[1290px] top-[5114px] absolute text-black text-[50px] font-bold font-['Inria Sans']">enter email address</div>
      </div>



      
      
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>