<%- include('include/_header') %>


        <%- include('include/_nav') %>
        
        
        <%- include('include/_topheader') %>
        
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                            <div>
                                <button class="btn btn-md rounded font-sm hover-up submit" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product Details</h4>
                            </div>
                            <div class="card-body">
                                <form action="/api/addproduct" id="form" method="post">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" placeholder="Type here" name="productname" class="form-control" id="product_name" />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="row" >
                                        <div class="col-lg-4" style="width: 50%;">
                                            <div class="mb-4">
                                                <label class="form-label">Price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="₹" name="price" type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4" style="width: 50%;">
                                            <div class="mb-4">
                                                <label class="form-label">Stock</label>
                                                <div class="row gx-2">
                                                    <input placeholder="0" type="text" name="stock" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="/images/theme/upload.svg" alt="" />
                                    <input name="images" class="form-control" type="file" />
                                </div>
                            </div>
                        </div>-->
                        <!-- card end// -->
                        <!--<div class="card mb-4">
                            <div class="card-header">
                                        <h4>Category</h4>
                            </div>
                                        <div class="card-body"></div>

                                        <select class="form-select">
                                            <option>Automobiles</option>
                                            <option>Home items</option>
                                            <option>Electronics</option>
                                            <option>Smartphones</option>
                                            <option>Sport items</option>
                                            <option>Baby and Tous</option>
                                        </select>
                            
                        </div>
                    </div> -->
                </div>
            </section>
            <script>
                document.querySelector('.submit').addEventListener('click', () => {
                    document.querySelector('#form').submit();
                });
            </script>
           

    <%- include('include/_footer') %>